addict==2.4.0
anyconfig==0.9.11
catalyst==21.4.2
imgaug==0.4.0
iniconfig==1.1.1
matplotlib==3.3.3
natsort==7.1.0
opencv-python==4.5.1.48
Polygon3==3.0.8
protobuf==3.16.0
py==1.10.0
pyclipper==1.2.1
pytz==2021.1
scipy==1.6.0
scikit-image==0.16.2
pytorch==1.8
Shapely==1.7.1
yacs==0.1.8